/*
    Post No Bills Jaffna Fonts
 */
@font-face {
  font-family: "pnbj-Regular";
  src: url("fonts/PostNoBillsJaffna-Regular.woff");
}
@font-face {
  font-family: "pnbj-Light";
  src: url("fonts/PostNoBillsJaffna-Light.woff");
}
@font-face {
  font-family: "pnbj-Medium";
  src: url("fonts/PostNoBillsJaffna-Medium.woff");
}
@font-face {
  font-family: "pnbj-SemiBold";
  src: url("fonts/PostNoBillsJaffna-SemiBold.woff");
}
@font-face {
  font-family: "pnbj-Bold";
  src: url("fonts/PostNoBillsJaffna-Bold.woff");
}
@font-face {
  font-family: "pnbj-ExtraBold";
  src: url("fonts/PostNoBillsJaffna-ExtraBold.woff");
}
/*
    Mada Fonts
 */
@font-face {
  font-family: "Mada-Regular";
  src: url("fonts/Mada-Regular.woff");
}
@font-face {
  font-family: "Mada-Light";
  src: url("fonts/Mada-Light.woff");
}
@font-face {
  font-family: "Mada-Medium";
  src: url("fonts/Mada-Medium.woff");
}
@font-face {
  font-family: "Mada-ExtraLight";
  src: url("fonts/Mada-ExtraLight.woff");
}
@font-face {
  font-family: "Mada-SemiBold";
  src: url("fonts/Mada-SemiBold.woff");
}
@font-face {
  font-family: "Mada-Bold";
  src: url("fonts/Mada-Bold.woff");
}
@font-face {
  font-family: "Mada-Black";
  src: url("fonts/Mada-Black.woff");
}
.settings-menu {
  background-color: var(--content-primary-color);
  border-radius: 48px;
  margin-inline: 1rem;
  margin-top: 2rem;
  width: 68rem;
}
.settings-menu .toggle .toggle-navigation {
  margin: 2rem 0rem 0rem 2.5rem;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  border: none;
  background-color: white;
  font-family: "Mada-Bold";
  cursor: pointer;
  filter: drop-shadow(7px 7px 8px #2E2D2D);
}
.settings-menu .add-settings-menu-form {
  padding: 2rem 0rem 0rem 2rem;
}
.settings-menu .add-settings-menu-form .new-settings-menu {
  padding: 1rem 2rem;
  border-radius: 50px;
  filter: drop-shadow(7px 7px 8px #2E2D2D);
  background-color: white;
  font-family: "Mada-Bold";
  margin-bottom: 1rem;
  cursor: pointer;
}
.settings-menu .add-settings-menu-form .select-form-control {
  cursor: pointer;
  appearance: none;
  border: 3px solid var(--content-secondary-color);
  width: 19.5rem;
  border-radius: 50px;
  color: #ffffff;
  padding: 0.5rem 0rem 0.5rem 2rem;
  background-color: #212121;
  margin-bottom: 1rem;
  font-family: "Mada-Light";
  font-size: 25px;
  outline: none;
}
.settings-menu .add-settings-menu-form .select-form-control option {
  color: #ffffff;
}
.settings-menu .add-settings-menu-form .settings-menu-form {
  display: none;
  margin: 0rem 1rem;
  padding: 0.5rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form .description {
  margin-bottom: 2rem;
  width: 59rem;
  height: 8.5rem;
  border-radius: 30px;
  border: 6px solid var(--content-secondary-color);
  padding: 1rem 2rem 1rem 2rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form .description .academic {
  border: none;
  background-color: transparent;
  font-family: "Mada-Light";
  height: 6rem;
  width: 54rem;
  padding-right: 1rem;
  resize: none;
  color: white;
}
.settings-menu .add-settings-menu-form .settings-menu-form .description .academic:focus {
  outline: none;
}
.settings-menu .add-settings-menu-form .settings-menu-form .description .academic::placeholder {
  font-size: 20px;
  color: #ffffff;
}
.settings-menu .add-settings-menu-form .settings-menu-form .description .academic::-webkit-scrollbar {
  width: 16px;
}
.settings-menu .add-settings-menu-form .settings-menu-form .description .academic::-webkit-scrollbar-track {
  background-color: #D9D9D9;
  border-radius: 8px;
}
.settings-menu .add-settings-menu-form .settings-menu-form .description .academic::-webkit-scrollbar-thumb {
  background-color: #398044;
  border-radius: 8px;
  border: 4px solid #D9D9D9;
}
.settings-menu .add-settings-menu-form .settings-menu-form .message {
  color: white;
  padding-left: 1rem;
  font-size: 20px;
  font-family: "Mada-Bold";
}
.settings-menu .add-settings-menu-form .settings-menu-form .heading {
  margin-bottom: 1rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form .heading .form-control {
  width: min(70%, 50rem);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: 25px;
  font-family: "Mada-Bold";
  outline: none;
}
.settings-menu .add-settings-menu-form .settings-menu-form .heading .form-control::placeholder {
  font-family: "Mada-Bold";
}
.settings-menu .add-settings-menu-form .settings-menu-form .picture img {
  width: 100px;
  margin: 1rem 0rem 1rem 2rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form .picture .form-control {
  cursor: pointer;
  border: 3px solid var(--content-secondary-color);
  border-radius: 50px;
  color: #ffffff;
  padding: 0.2rem 0rem 0.2rem 1rem;
  background-color: #212121;
  font-family: "Mada-Light";
  outline: none;
}
.settings-menu .add-settings-menu-form .settings-menu-form .picture .form-control::-webkit-file-upload-button {
  border-radius: 50px;
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
}
.settings-menu .add-settings-menu-form .settings-menu-form .create {
  padding: 0.5rem 2rem;
  border-radius: 50px;
  filter: drop-shadow(7px 7px 8px #2E2D2D);
  cursor: pointer;
  background-color: white;
  font-family: "Mada-Bold";
  margin: 1rem 1rem 0rem 0rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form .create:hover {
  border: 5px solid var(--content-secondary-color);
  transition: 0.15s all ease-out;
}
.settings-menu .add-settings-menu-form .settings-menu-form-active {
  display: block;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit {
  padding: 0.5rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .message {
  color: white;
  padding-left: 1rem;
  font-size: 20px;
  font-family: "Mada-Bold";
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .heading {
  margin-bottom: 1rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .heading .form-control {
  width: min(70%, 50rem);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: 25px;
  font-family: "Mada-Bold";
  outline: none;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .heading .form-control::placeholder {
  font-family: "Mada-Bold";
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .picture .form-control {
  cursor: pointer;
  border: 3px solid var(--content-secondary-color);
  border-radius: 50px;
  color: #ffffff;
  padding: 0.3rem 0rem 0.3rem 1rem;
  background-color: #212121;
  font-family: "Mada-Light";
  outline: none;
  margin-bottom: 1rem;
  height: 3rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .picture .form-control::-webkit-file-upload-button {
  border-radius: 50px;
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .picture img {
  width: 60px;
  margin: 0rem 0rem 1rem 2rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .create {
  padding: 0.5rem 2rem;
  border-radius: 50px;
  filter: drop-shadow(7px 7px 8px #2E2D2D);
  cursor: pointer;
  background-color: white;
  font-family: "Mada-Bold";
  margin: 1rem 1rem 0rem 0rem;
}
.settings-menu .add-settings-menu-form .settings-menu-form-edit .create:hover {
  border: 5px solid var(--content-secondary-color);
  transition: 0.15s all ease-out;
}
.settings-menu .all-settings-menu {
  margin: 0rem 1.8rem;
  padding: 1rem;
}
.settings-menu .all-settings-menu .settings-menu-table {
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 25px;
  overflow-y: scroll;
  height: 28rem;
}
.settings-menu .all-settings-menu .settings-menu-table table {
  width: 100%;
}
.settings-menu .all-settings-menu .settings-menu-table table thead {
  font-family: "Mada-Bold";
}
.settings-menu .all-settings-menu .settings-menu-table table thead tr th {
  background-color: var(--content-secondary-color);
  border: 1px solid #ddd;
  padding: 0.5rem;
  font-size: 23px;
}
.settings-menu .all-settings-menu .settings-menu-table table tbody {
  font-family: "Mada-Medium";
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr {
  margin-bottom: 10rem;
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 1rem;
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr td img {
  width: 100px;
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr td a {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border: 4px solid var(--content-secondary-color);
  margin-bottom: 0.5rem;
  border-radius: 50px;
  padding-inline: 1rem;
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr td a:hover {
  background-color: var(--content-secondary-color);
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr td:first-child {
  padding-left: 20px;
  padding-right: 0;
}
.settings-menu .all-settings-menu .settings-menu-table table tbody tr:hover {
  background-color: #ddd;
}
.settings-menu .all-settings-menu .settings-menu-table-size {
  height: 17.5rem;
}
.settings-menu .all-settings-menu .settings-menu-table::-webkit-scrollbar {
  width: 16px;
}
.settings-menu .all-settings-menu .settings-menu-table::-webkit-scrollbar-track {
  background-color: #B4DABA;
  border-radius: 8px;
}
.settings-menu .all-settings-menu .settings-menu-table::-webkit-scrollbar-thumb {
  background-color: #398044;
  border-radius: 8px;
  border: 5px solid #B4DABA;
}

.settings-menu-toggle {
  width: 94rem;
}

/*# sourceMappingURL=settings.css.map */
